.experience {
  margin: 0px auto;
  width: 50vw;
  margin-top: 200px;
}

.experience > h1 {
  color: #ccd6f6;
  font-size: 26px;
  font-weight: 700;
  border: 2px solid blue;
}

.experience > h1 > span {
  font-size: 1.3rem;
  font-weight: 500;
  color: #64ffda;
  margin-right: 5px;
}

.line {
  display: inline-block;
  max-width: 400px;
  border: 2px solid red;
}

.experience > div {
  display: flex;
  margin-top: 50px;
}

.selecting {
  width: 20%;
}

.selecting > p {
  border-left: 2px solid #233554;
  color: #8892b0;
  font-size: 15px;
  line-height: 1.5;
  cursor: pointer;
  padding: 10px;
  padding-left: 20px;
  font-family: sans-serif;
}

.selecting > p:hover
/* .selecting > p:focus { */ {
  background-color: #112240;
  color: #64ffda;
}

.selecting_about {
  width: 80%;
}
.selecting_about ul {
  position: relative;
}

.selecting_about li {
  list-style-type: none;
  color: #8892b0;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.7px;
  font-family: sans-serif;
  margin-bottom: 10px;
  padding-left: 20px;
}

.selecting_about li::before {
  content: '▹';
  color: #62f9d6;
  font-size: 14px;
  line-height: 12px;
  position: relative;
  left: -30px;
}
