.loader {
  width: 100vw;
  height: 100vh;
  background-color: #020c1b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_container {
  width: 200px;
  height: 200px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: absolute;
  width:  105px;
  height: 60px;
  border-left: 1px solid #62f9d6;
  border-right: 1px solid #62f9d6;
  display: flex;
  justify-content: space-between;
}

.box > span {
  width:  1px;
  height: 100%;
  border: 1px solid red;
}

.box:nth-child(1) {
  transform: rotate(60deg);
  /* animation-name: line;
  animation-duration: 1s; */
}
.box:nth-child(2) {
  transform: rotate(120deg);
}


/* @keyframes line {
  from {
  }
  to {
  }
} */
