@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&family=Poppins:wght@100;400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&family=Poppins:wght@100;400&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&family=Poppins:wght@100;400&family=Roboto&display=swap');
/*********** NAVBAR STYLES *************/
.navbar {
  position: fixed;
  height: 70px;
  width: calc(100vw - 12px);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
  backdrop-filter: blur(10px);
  transition: all 0.4s;
  z-index: 20;
}

/********* SIX CORNER ********/
.box_container {
  width: 36px;
  height: 36px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.box_container:hover {
  background-color: rgba(100, 255, 218, 0.2);
}

.box {
  position: absolute;
  width: 36px;
  height: 20px;
  border-right: 2px solid #62f9d6;
  border-left: 2px solid #62f9d6;
  transform-origin: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #62f9d6;
  font-weight: 500;
  font-size: 1rem;
  font-family: sans-serif;
}

.box:nth-child(1) {
  transform: rotate(60deg);
}
.box:nth-child(2) {
  transform: rotate(120deg);
}
/********* SIX CORNER ********/
.selects_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.selects {
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selects > a {
  color: #a4b0cd;
  font-family: sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px;
}

.selects > a > span {
  margin-right: 1px;
  color: #62f9d6;
}

.selects > a:hover {
  color: #62f9d6;
}

/*  HIDING SELECTS SIDE */
.hide_selects {
  display: none;
  position: absolute;
  right: 20px;
}

.hide_selects > div:nth-child(1) {
  width: 50px;
  height: 10px;
  border-top: 2px solid #62f9d6;
}

.hide_selects > div:nth-child(2) {
  width: 40px;
  height: 10px;
  border-top: 2px solid #62f9d6;
}

.hide_selects > div:nth-child(3) {
  width: 30px;
  height: 10px;
  border-top: 2px solid #62f9d6;
}
/*  HIDING SELECTS SIDE */




/* ANOTHER BUTTON SIGN */
.Xsign {
  display: none;
}

.Xsign > div:nth-child(1) {
  position: absolute;
  top: 13px;
  width: 25px;
  border-top: 3px solid #62f9d6;
  transform-origin: top right;
  transform: rotate(50deg);
}

.Xsign > div:nth-child(2) {
  display: none;
  position: relative;
}

.Xsign > div:nth-child(3) {
  width: 25px;
  border-top: 3px solid #62f9d6;
  transform-origin: top right;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 2px;
}
/* ANOTHER BUTTON SIGN */

.navbar button {
  margin-left: 15px;
}

/*********** NAVBAR STYLES *************/

/* MEDIA QUERIES SIDE */
@media only screen and (max-width: 770px) {
  .selects_wrapper {
    position: absolute;
    top: 0px;
    right: -50vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: left;
    transition: 1s ease all;
  }

  .selects {
    right: 0;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: #112240;
    justify-content: space-evenly;
  }

  .hide_selects {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    right: 20px;
  }

  .Xsign {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: absolute;
    right: 20px;
  }
}

/* MEDIA QUERIES SIDE */







