.someThingIveBuild {
  width: 100%;
  margin-top: 200px;
  font-family: sans-serif;
  position: relative;
}

.someThingIveBuild h1 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #64ffda;
  margin-right: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.someThingIveBuild > h1 > span:nth-child(1) {
  margin-left: 10px;
  color: #ccd6f6;
  font-size: 32px;
  font-weight: 700;
}

.someThingIveBuild > h1 > span:nth-child(2) {
  display: inline-block;
  width: 30%;
  height: 1px;
  border: 1px solid #233554;
  margin-left: 30px;
}

.picture {
  position: relative;
  z-index: 4;
  width: 50%;
}

.content {
  position: absolute;
  right: 0px;
  top: 20px;
  z-index: 7;
  width: 60%;
  text-align: right;
}

.content h2:nth-child(1) {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #62f9d6;
  margin-bottom: 10px;
}
.content h2:nth-child(2) {
  color: #ccd6f6;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
}

.content > p {
  background-color: #112240;
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  padding: 25px;
  color: #a8b2d1;
  margin-bottom: 25px;
  line-height: 1.4;
  letter-spacing: 1px;
}

.content > ul {
  margin-bottom: 25px;
}

.content > ul > li {
  list-style-type: none;
  display: inline;
  margin-left: 10px;
  color: #8892b0;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.7px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icons > svg {
  display: block;
  width: 20px;
  height: 20px;
  color: #a8b2d1;
  transition: all 0.5s;
  margin-left: 10px;
}

.icons > svg:hover{
  color: #62f9d6;
}
