.whatNext {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-family: sans-serif;
}

.container {
  width: 60%;
  text-align: center;
}

.container h1 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 12px;
  color: #62f9d6;
}

.container h2 {
  color: #ccd6f6;
  font-size: 40px;
  font-weight: 700;
}
